<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값(타입)들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스는 **0** 부터 시작.
  * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음
  * `tuple`과 다른 점!
  * `tuple`은 값들을 변경할 수 없는 타입

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법.

 ![image.png]()

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

1

In [ ]:
numbers[5] # 리스트 numbers의 인덱스 5 위치의 원소

30

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소.

30

In [ ]:
numbers[-6]

20

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄
  * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
  * 시작 위치부터 끝까지 잘라냄
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**.

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers[1:4] # 1 <= index < 4

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개

[1, 2, 3]

In [ ]:
numbers[-3:] # 리스트에서 뒤에서 3개

[10, 20, 30]

In [ ]:
numbers[0:1] # slicing -> 리스트

[1]

In [ ]:
numbers][0] # indexing -> 값(숫자)

# 문자열(str)

* 문자들의 **리스트**.
* 문자열은 인덱스를 사용할 수 있음.
* indexing, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트

In [ ]:
message[0] # 문자열에서 첫 번째 문자

'안'

In [ ]:
message[-1] # 문자열에서 마지막 문자

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'러분!'

In [ ]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list * int` 또는 `int * list`

의미는 위의 문자열 산술 연산과 비슷함.

In [ ]:
[1,2,3] + [4,5,6] # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3] * 3 # replicate

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5 ,100]
for x in numbers:
  print(x)

1
10
5
100

In [ ]:
i = 0
while i < len(numbers): # list의 원소개수 -> len(numbers)
  print(numbers)
  i += 1

[1, 10, 5, 100]
[1, 10, 5, 100]
[1, 10, 5, 100]
[1, 10, 5, 100]

In [ ]:
for i in range(len(numbers)): # 0 <= i < len
  print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
for i, v in enumerate(numbers): # enumerate는 key, value를 리턴.
  print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# 크기가 같은 리스트 numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트.
# [11, 13, 15]
result = [] # 빈(empty) 리스트
for x in range(len(numbers1)): # 0 <= i < len
  result.append(numbers1[x] + numbers2[x]) # append: 뒤에서 추가

print(result)

1
10
5
[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2): # 같은 길이를 갖는 리스트를 넘겨 줘야 함 + 같은 index에 있는 value들을 꺼내서 변수 순서대로 넘겨줌.
  result.append(x + y)
result

[11, 13, 15]

파이썬에서 난수를 만드는 방법:

In [ ]:
import random  # random 모듈을 임포트

# random 모듈의 random() 함수를 호출
random.random() # 모듈.함수 #[0, 1] 범위(0 <= x < 1)의 실수 난수를 리턴.

0.9613931903947167

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(10) # [0 10)] 범위(0 <= x < 10)의 정수 난수를 리턴.

1

In [ ]:
random.randrange(1, 4) # [1,4) 범위의 정수 난수를 리턴.

1

In [ ]:
random.randint(1,4) # [1, 4]

# Exercises
##  Ex 1.
빈 리스트를 생성.
1 이상 10 이하의 정수 난수 5개를 저장.
리스트의 모든 정수들의 합을 출력.
리스트의 모든 정수들의 평균을 출력.

In [5]:
# Ex 1
import random

result = []
for _ in range(1, 6): # _ : 코드블록 내에서 사용되지 않은 변수
  result.append(random.randrange(1, 11))
print(result)


y = 0
for i, x in enumerate(result):
  y = y + int(x)
print(y)
print(y / len(result))

# 변수이름을 합수와 같이 선언하면 함수 사용 힘듦
print(sum(result))

total = 0
for x in result:
  total += x

print(f'total = {total}')
average = total / len(result)
print(f'average = {average}')

[2, 2, 2, 4, 4]
14
2.8
14
total = 14
average = 2.8

# Ex 2.
빈 리스트(numbers)를 생성. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
# Ex 2.
numbers = []
for i in range(1, 10):
  number = random.randrange(10, 100)
  numbers.append(number)
print(numbers)


evens = []
odds = []
for i, x in enumerate(numbers):
  if x % 2: # 리스트에서 찾은 값을 2로 나눈 나머지가 있으면 -> 0일 경우 false.
    odds.append(x)
  else:
    evens.append(x)

print(f'짝수들 = {evens}')
print(f'홀수들 = {odds}')

[61, 46, 34, 66, 72, 59, 46, 17, 20]
짝수들 = [46, 34, 66, 72, 46, 20]
홀수들 = [61, 59, 17]

# Ex 3.
 빈 리스트 numbers를 만듦. 10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
for i in range(1, 10):
  number = random.randint(-10, 10)
  numbers.append(number)
print(numbers)

is_positive = []
for i, x in enumerate(numbers):
  if x >= 0:
    is_positive.append('True')
  else:
    is_positive.append('False')

is_positive

[-7, -8, 7, -7, 9, 1, -8, 9, -9]

['False', 'False', 'True', 'False', 'True', 'True', 'False', 'True', 'False']

# Ex 4.
gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
for i in range(1, 10):
  number = random.randrange(0, 2)
  gender_codes.append(number)
print(gender_codes)

genders = []

for i,x in enumerate(gender_codes):
  if x == 0:
    genders.append('Male')
  else:
    genders.append('Female')

print(genders)

[1, 0, 0, 0, 1, 1, 1, 0, 0]
['Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male']

# Ex 5.
 numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트. numbers1, numbers2, multiplication, subtraction를 출력.

In [ ]:
numbers1 = []
numbers2 = []

for i in range(1, 10):
  number = random.randrange(100)
  number2 = random.randrange(100)
  numbers1.append(number)
  numbers2.append(number2)
print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = []
subtraction = []

for x, y in zip(numbers1, numbers2): # 같은 길이를 갖는 리스트를 넘겨 줘야 함 + 같은 index에 있는 value들을 꺼내서 변수 순서대로 넘겨줌.
  multiplication.append(x * y)
  subtraction.append(x - y)

print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers1 = [53, 56, 31, 90, 3, 74, 11, 3, 77]
numbers2 = [61, 52, 74, 11, 19, 95, 4, 21, 74]
multiplication = [3233, 2912, 2294, 990, 57, 7030, 44, 63, 5698]
subtraction = [-8, 4, -43, 79, -16, -21, 7, -18, 3]

# List comprehension(리스트 내포)

1 ~ 10 정수들을 순서대로 리스트에 저장: `{1, 2, 3,...,9,10}`

In [6]:
numbers = []
for x in range(1, 11):
  numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# { 1,4, 9 ,16, .., 100}
numbers = [x**2 for x in range(1, 11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# [0, 10} 난수 10개를 저장하는 리스트
import random

numbers = [random.randrange(1, 10) for _ in range(10)]
numbers

[2, 7, 8, 9, 9, 2, 7, 1, 5, 9]

In [ ]:
# filtering
[value for x in iterable if condition]

# mapping
[value if condition else value2 for x in iterable]

# Ex 1.
빈 리스트를 생성. 1 이상 10 이하의 정수 난수 5개를 저장. 리스트의 모든 정수들의 합을 출력. 리스트의 모든 정수들의 평균을 출력.

In [14]:
numbers = [ random.randrange(11) for _ in range(5)]
print(numbers)
print(sum(numbers))

average = sum(numbers) / len(numbers)
print(average)

[3, 5, 5, 3, 1]
17
3.4

# Ex 2.
빈 리스트(numbers)를 생성. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [16]:
numbers = [random.randrange(10,100) for _ in range(10)]
print(numbers)
evens = []
odds = []
for x in numbers:
  if x % 2:
    odds.append(x)
  else:
    evens.append(x)
print(f'evens = {evens}, odds = {odds}')

[59, 17, 54, 30, 43, 10, 43, 32, 81, 30]
evens = [54, 30, 10, 32, 30], odds = [59, 17, 43, 43, 81]

# Ex 3.
빈 리스트 numbers를 만듦. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

# filtering
[value for x in iterable if condition]

# mapping
[value if condition else value2 for x in iterable]

In [24]:
x = 1
is_positive = True if x > 0 else False # 삼항 연산자

print(is_positive)

True

In [18]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)
is_positive = [True if x > 0 else False for x in numbers]
is_positive

[1, 4, 6, 4, 6, -5, -5, 1, -10, -2]

[True, True, True, True, True, False, False, True, False, False]

# Ex 4.
gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [21]:
gender_codes = [random.randrange(2) for _ in range(10)]
print(gender_codes)
genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(genders)

[1, 1, 0, 0, 1, 0, 0, 0, 0, 0]
['Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male']

# Ex 5.
numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트. numbers1, numbers2, multiplication, subtraction를 출력.

# filtering
[value for x in iterable if condition]

# mapping
[value if condition else value2 for x in iterable]

In [22]:
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]

print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = [ x*y for x,y in zip(numbers1, numbers2)]
subtraction = [ x-y for x,y in zip(numbers1, numbers2)]

print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers1 = [19, 87, 94, 78, 55, 33, 40, 63, 15, 49]
numbers2 = [41, 71, 74, 98, 98, 35, 46, 48, 8, 11]
multiplication = [779, 6177, 6956, 7644, 5390, 1155, 1840, 3024, 120, 539]
subtraction = [-22, 16, 20, -20, -43, -2, -6, 15, 7, 38]

In [ ]:
gender_codes = [1, 2, 1, 2, 3]
# 1 -> 'M', 2 -> 'F', 3 -> 'unknown' mapping
# java: x == 1 ? 'M' : (x == 2 ? 'F': 'unknown')
genders = ['M' if x == 1 else ('F' if x == 2 else 'Unknown') for x in gender_codes]
genders