<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list []

tuple ()

set {}

dict {a: b , c:d, ...}

# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트. <- 리스트와 다른 점.
  * 추가, 삭제, 변경이 되지 않음.
  * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음
* 인덱스 기반 자료 타입
  * indexing, slicing
  * 음수 인덱스도 사용 가능

In [7]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 3, 10, 20, 30,1)
numbers

(1, 2, 3, 10, 20, 30, 1)

In [4]:
type(numbers)

tuple

In [8]:
numbers.count(1) # 튜플내 n 원소의 개수

2

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

* ()는 함수호출처럼 보여서 indexing은 리스트나 튜플다 [] 사용

In [9]:
numbers[0] # 튜플의 첫번째 원소

1

In [10]:
numbers[-1] # 튜플의 마지막 원소

1

slicing: 자르기, 부분집합.

In [11]:
# 튜플에서 첫 3개의 원소들을 잘라내기. [start, end) 범위
numbers[:3]

(1, 2, 3)

In [12]:
numbers[-3:] # 튜플에서 마지막  3개의 원소들을 잘라내기.

(20, 30, 1)

## decomposition(분해)
`indexing`을 좀 더 간단히 사용하는 것
* 리스트도 가능.

In [14]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [17]:
# 튜플의 원소의 개수와 decomposition할 변수의 개수가 동일해야 함.
# 튜플의 원소의 개수가 작을 떄 사용.

x, y = (1, 3)
print(x, y)

1 3

## tuple & for

In [18]:
for x in odds:
  print(x)

1
3
5

tuple은 comprasion이 없음
즉, 값이 변경이 안되기에 빈 배열을 만들어도 append가 안됨.

## 2차원 리스트/ 튜플

* 다차원 리스트: 2차원 이상 리스트들.

In [20]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [21]:
len(numbers) # 2차원 리스트 numbers의 원소 개수

2

In [22]:
numbers[0]

[1, 2, 3]

In [23]:
numbers[0][1]

2

Ex.
1. 2 * 2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드고 출력하세요.
1. 2 *2 모양의 [0 ,10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드고 출력하세요.
1. array1 과 array2와 같은 인덱스의 원소들끼리의 덕셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [31]:
import random

array1 = [
    [random.randrange(10) for _ in range(2)],
    [random.randrange(10) for _ in range(2)]
]

print(f'array1 = {array1}')

array2 = [
    [random.randrange(10) for _ in range(2)],
    [random.randrange(10) for _ in range(2)]
]

print(f'array2 = {array2}')

add = []
for x, y in zip(array1, array2):
  line = []
  for z, k in zip(x, y):
    print(f'z = {z}, k = {k}')
    line.append(z + k)
  add.append(line)
print(add)

array1 = [[2, 2], [3, 2]]
array2 = [[8, 8], [5, 3]]
z = 2, k = 8
z = 2, k = 8
z = 3, k = 5
z = 2, k = 3
[[10, 10], [8, 5]]

In [32]:
# 강사님 코드

array1 =[] # 1차원 리스트들을 저장할 빈 리스트.
for _ in range(2): # 2번 반복.
  row = [] # 난수들을 저장할 빈 리스트
  for _ in range(2): # 2번 반복
    row.append(random.randrange(10)) # 난수를 row에 추가.
  array1.append(row) # 난수 2개를 갖는 1차원 리스트를 array1에 추가.
print(array1)

array2 =[[random.randrange(10) for _ in range(2)] for _ in range(2)]
print(array2)

[[5, 7], [8, 8]]
[[8, 2], [4, 4]]

In [34]:
# 방법 1) for문만 사용.

add = [] # 1차원 배열들을 저장할 빈 배열
for row1, row2 in zip(array1, array2):
  # print(row1, row2)
  temp = [] # 덧셈 결과를 저장할 빈 배열
  for x, y in zip(row1, row2):
    temp.append(x + y)
  add.append(temp)

print(f'방법 1: {add}')

# 방법 2) list comprasion
add1 = [[x + y for x, y in zip(row1, row2)]
for row1, row2 in zip(array1, array2)]

print(f'방법 2: {add1}')

방법 1: [[13, 9], [12, 12]]
방법 2: [[13, 9], [12, 12]]

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1, 2, 2, 3, 3} == {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
  * 데이터의 저장 순서가 중요하지 않음: `{1, 2, 3} == {3, 2, 1}`
  * indexing, slicing 기능을 제공하지 않음.
  * for-in 구문에서 사용할 수 있는 iterable 타입.

In [36]:
s = {1, 2, 2, 3, 3}
print(s)

{1, 2, 3}

In [37]:
type(s)

set

* set의 기능(메서드)

In [39]:
s.add(5) # set에 원소 추가
print(s)

{1, 2, 3, 5}
{1, 2, 3, 5}

In [41]:
s.add(5)
print(s)

{1, 2, 3, 5}

In [44]:
s.remove(3) # set의 원소를 삭제, 삭제할 원소를 아규먼트로 전달.
print(s)

{1, 2, 5}

In [45]:
s.pop() # 삭제가 랜덤.
print(s)

{2, 5}

In [46]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

s1.union(s2) # 합집합

{1, 2, 3, 4, 5, 6}

In [47]:
s1.intersection(s2) # 교집합

{2, 3}

In [48]:
s1.difference(s2) # 차집합: s1 - s2

{1, 4}

In [49]:
s2.difference(s1) # 차집합: s2 -s1

{5, 6}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
  * list, tuple: 인덱스 기반의 데이터 타입.
  * dict: key-value 기반의 데이터 타입.
  * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [50]:
students = {1: '홍길동', 2: '허균', 3: '오쌤'}
print(students)
type(students)

{1: '홍길동', 2: '허균', 3: '오쌤'}

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자(`[]`)를 사용함.

In [51]:
students[1] # dict에서 key가 1인 아이템의 value

'홍길동'

In [52]:
students[10] = '홍길동' # dict에 새로운 key-value 아이템을 추가

In [53]:
print(students)

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [54]:
students[3] = 'scott' # dict에서 key에 해당하는 value를 변경.
print(students)

{1: '홍길동', 2: '허균', 3: 'scott', 10: '홍길동'}

In [55]:
students.pop(3) # dict에서 해당하는 key의 아이템(key: value)을 삭제
print(students)

{1: '홍길동', 2: '허균', 10: '홍길동'}

In [56]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박요용', '웨스 매키니'],
    'isbn': 1234
}

print(book)

{'title': '점프 투 파이썬', 'authors': ['박요용', '웨스 매키니'], 'isbn': 1234}

In [58]:
print(book['title']) # 키가 문자열일 경우에는 문자열로 넘기기
book['authors']
book['authors'][0]

점프 투 파이썬

'박요용'

dict & for

In [59]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phones': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
print(contact)

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [60]:
for k in contact:
  print(k) # key들만 꺼내 줌

no
name
phones
emails

for-in 구문에서 dict를 사용하면 키(key)를 iteration 함!

In [64]:
for k in contact:
  print(k, ':', contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [66]:
contact.keys() # dict의 key들의 리스트(객체)를 리턴.

dict_keys(['no', 'name', 'phones', 'emails'])

In [67]:
contact.values() # dict의 value들의 리스트를 리턴.

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [68]:
contact.items()
# dict에서 (key, value) 튜플들의 리스트를 리턴.

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [69]:
for k ,v in contact.items():
  print(k, v)

no 1
name 오쌤
phones ['010-0000-0000', '02-0000-0000']
emails {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

Dictionary Comprehension

In [71]:
emp_no = [1001, 1002, 2001, 2002] # 직원 번호
emp_name = ['king', 'Scott', 'Allen', 'Tiger'] # 직원 이름

In [88]:
# emp_no를 key로 하고 emp_name을 value로 dict를 만들고 출력
dict1 = {} # key-value를 저장할 빈 dict, 함수: dict()

for no,name in zip(emp_no, emp_name): # 리스트의 원소 개수만큼 반복
  dict1[no] = name # dict에 key-value 아이템을 저장

print(dict1)

{1001: 'king', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [75]:
{no: name for no, name in zip(emp_no, emp_name)}

{1001: 'king', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [1]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 strings의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력.
string_lengths = dict()  # 빈 dict
for s in strings: # strings에서 원소들을 차례로 반복하면서
  string_lengths[s] = len(s) # 문자열(key)-길이(value) 아이템을 dict에 추가

print(string_lengths)

dict =  {s: len(s) for s in strings }
print(dict)

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}
{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}