<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# function(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
  * return value가 있는 함수
  * return value가 없는 함수
* 파이썬 함수 정의 방법:

```
def function_name([param,...]):
  ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
  함수 기능 구현
  [return 값]
```

* return value가 없는 경우에,
  * return 문장을 생략
  * return None 명시할 수도 있음.

* python은 js와 달리 매개변수의 수를 검사함. 단, 타입은 둘 다 검사 안함.

In [ ]:
# 함수 정의
def subtract(x, y):
  """
  2개의 숫자 x, y를 전달받아서 x - y 결과를 리턴하는 함수.
  """
  return x - y

# 함수: subtract

In [ ]:
# 함수 호출
result = subtract(1,2)
result

-1

In [ ]:
def repeat_messge(message, n):
  """
  문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
  """
  for _ in range(n):
    print(message)

  return None
  # 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.

repeat_messge('집 가고 싶어', 5)

집 가고 싶어
집 가고 싶어
집 가고 싶어
집 가고 싶어
집 가고 싶어

# Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [1]:
import random

def make_list(start, end, n):
  """
   start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
  """
  list = [random.randrange(start, end) for _ in range(n)]

  return list

make_list(1, 5, 2)

[3, 1]

# Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [2]:
def calc_sum(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
  """

  return sum(list)

list = [1,2,4]
result = calc_sum(list)
result

7

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [3]:
def  calc_mean(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
  """

  average = sum(list) / len(list)
  return average

list = [1, 4, 6, 10]
result = calc_mean(list)
print(result)

5.25

# Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
분산 = (값 - 평균)**2 들의 평균

In [4]:
def calc_var(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수. 분산 = (값 - 평균)**2 들의 평균
  """
  average = sum(list) / len(list)
  print(average)


  con = [((x - average)**2) for x in list]
  print(con)
  total1 = sum(con)

  print(total1)
  variance = total1 / len(list)

  return variance

list = [1, 3, 4, 6]

result = calc_var(list)
print(result)

3.5
[6.25, 0.25, 0.25, 6.25]
13.0
3.25

In [5]:
scores1 = [3, 4, 5, 6,7]
scores2 = [0, 1, 5, 9, 10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)
print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')

mean1 = 5.0
mean2 = 5.0

In [6]:
print(calc_var(scores1))
print(calc_var(scores2))

5.0
[4.0, 1.0, 0.0, 1.0, 4.0]
10.0
2.0
5.0
[25.0, 16.0, 0.0, 16.0, 25.0]
82.0
16.4

In [7]:
def make_lotto_list():
  lottos = []
  for _ in range(5):
    while True:
    lotto = set()  # set -> {}: 무조건 dict
      lotto.add(random.randrange(1, 46))
      if len(lotto) == 6:
        break
    lottos.append(lotto)
  return lottos

make_lotto_list()

[{2, 17, 19, 28, 36, 38},
 {1, 3, 14, 26, 28, 36},
 {1, 17, 18, 23, 28, 31},
 {4, 7, 8, 22, 38, 44},
 {19, 20, 21, 32, 34, 36}]

파이썬은 2개 이산의 값을 리턴하는 함수를 정의할 수 있음. 함수를 호출함 곳에서는 리턴 값을 튜플로 취급하면 됨.

```
x, y = (1,2) # secomposition(성분 분해)
```

In [8]:
def plus_and_minus(x, y):
  return x + y, x-y

result = plus_and_minus(1,2)
result

(3, -1)

In [10]:
plus , minus = plus_and_minus(1,2)
print(f'plus = {plus}, minus = {minus}')

plus = 3, minus = -1

숫자들의 리스트를  전달받아서, 최댓값과 최솟값을 리턴하는 함수를 정의.

In [12]:
from traitlets.traitlets import List
def find_max_and_min(num_list):
  max = num_list[0] # 리스트의 첫 번째 원소를 최댓값이라고 가정.
  min = num_list[0] # 리스트의 첫 번째 원소를 최솟값이라고 가정.

  for x in num_list: # 리스트의 원소들을 처음부터 끝까지 순서대로 반복하면서
    if x > max: # 리스트에 있는 값이 max보다 크다면
      max = x # 리스트에서 찾은 값으로 max를 변경.
    if x < min: # 리스트에 있는 값이 min보다 작다면
      min = x # 리스트에서 찾은 값으로 min을 변경.

  return max, min

result = make_list(1,10, 6)
print(result)
max , min = find_max_and_min(result)
print(f'max = {max}, min = {min}')

[9, 1, 4, 5, 2, 8]
max = 9, min = 1

숫자들의 리스트를 전달받아서 최댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의. 최댓값이 2개 이상인 경우, 먼저 나오는 최댓값의 인덱스를 리턴.

In [16]:
def find_max_and_index(num_list):
  max = num_list[0]
  max_index = 0

  # for x in num_list:
  #   if x > max:
  #     max = x
  #     index = num_list.index(x)

  for i, v in enumerate(num_list):
    if v > max:
      max = v
      max_index = i

  return max, max_index

result = make_list(1,10, 9)
print(result)
max, index = find_max_and_index(result)
print(f'max = {max}. index={index}')

[5, 1, 6, 7, 6, 7, 3, 7, 4]
max = 7. index=3

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정된 기본값.
  * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
  * 함수를 호출할 떄 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 argument가 사용됨.
* **(주의)** 함수를 정의할 떄, default argument를 갖는 파라미터들은 반드시 default argument를 갖지 않는 파라미터들 뒤에 선언해야 함!
  *  기본값을 갖지 않는 파라미터들을 먼저 선언하고, 기본값을 갖는 파라미터들을 선언해야 함.

In [17]:

def repeat_message2(msg, n=1):
  for _ in range(n):
    print(msg)

In [18]:
repeat_message2('배고프다...그냥 집...')

배고프다...그냥 집...

In [20]:
repeat_message2('집 ㅈㅂ', 3) # n = 3

집 ㅈㅂ
집 ㅈㅂ
집 ㅈㅂ

In [21]:
def test(n = 1, msg):
  pass # 함수내 혹은 if문에서 뭔가 만드는 것이 없을 경우, 비어있으면 에러가 나기에 `pass` 키워드를 사용해야 함.

SyntaxError: ignored

# argument 전달 방법:

* positional argument: 함수 정의에서 선언된 파라미터 순서(위치)대로 아규먼트들을 전달하는 방법. -> 일반적으로 가장 많이 사용.
* keyword argument: `param = value` 형식으로 argument들을 전달하는 방법.
  * keyword argument 방식에서는 파라미터의 순서를 지키지 않아도 됨.
* **(주의)** 함수 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional argument를 먼저 사용하고, keyword argument는 나중에 사용해야 함.

In [25]:
def minus(x, y):
  return x - y

In [24]:
minus(1, 2) # positional argument.

-1

In [27]:
minus(x=1, y=2) # keyword argument

-1

In [28]:
minus(y=1, x=2) # keyword argument는 순서(position)를 지키지 않아도 됨.

1

In [29]:
minus(1, y=2) # 1st argument는 무조건 순서대로 x한테 갈 예정이니 오류 없음.

-1

In [30]:
minus(x=1, 2)

SyntaxError: ignored

# 가변길이 인수(variable-length argument)

 java: `public void printf(String... args) {}`

 javascript: 가변길이 인수를 기본으로 제공하는 언어.

* 함수를 호출할 떄, 전달하는 argument의 개수가 임의로 변할 수 있는 것.
  * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받을 수 있음.
* 함수 내부에서는 가변길이 인수는 tuple로 취급
   * for-in 반복문 사용 가능
   * 인덱스 사용 가능
   * 전달받은 argument를 변경할 수 없음.
* **(주의)**
  * 가변길이 인수는 keyword 방식으로는 전달할 수 없음.
  * 함수를 정의할 때, 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능.
    * def f(*x, *y) 안됨. -> 어디까지가 x에 해당이 되는 지를 모름

In [31]:
def add_all(*values):
  total = 0
  for x in values:
    total += x

  return total

add_all() # 비어있는 튜플을 넘겨줌 -> 초기값 0을 리턴.

0

In [32]:
add_all(1) # 원소 1개 짜리 튜플을 넘김

1

In [33]:
add_all(1,2,3,4,5) # 원소 5개짜리 튜플을 넘긴 것과 동일.

15

In [34]:
add_all(values=1)

TypeError: ignored

In [35]:
def test(*x, *y):
  pass

SyntaxError: ignored

가변길이 인수 뒤에 파라미터가 있는 경우, 그 파라미터는 keyword 방식으로만 argument를 전달할 수 있음.

In [37]:
def test(*x, y):
  print(x)
  print(y)

test(1,2,3, y = 5)

(1, 2, 3)
5

In [38]:
def keyword_only(*, x, y, z): # 함수를 호출할 때, 무조건 keyword 방식으로만 하라는 트릭
  print(f'x={x}, y = {y}, z={z}')

In [39]:
keyword_only(x = 1, y = 2, z = 3)

x=1, y = 2, z=3

In [42]:
# print(*val,...)
# sep = '':  구분자(공백)

print(1,2,3)
print() # 공백 출력
print('hello')

1 2 3

hello

In [43]:
print(1, 2, 4, sep=':')

1:2:4

In [45]:
# 기본값: end = '\n'(Enter)

print('hello', end=' ')
print('python')

hello python

# 가변길이 키워드 인수(variable-length keyword argument)

* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임
* 가변길이 인수: 함수를 호출할 때 전달하는 아규먼트의 개수제한이 없음.
* keyword argument: 함수를 호출할 때 반드시 `param = vlaue` 형식으로 전달해야 함.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급함.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 됨.
* 가변길이 키워드 인수는 함수에서 1개만 사용 가능.

In [46]:
def test2(**kwargs):
  print(kwargs)

In [47]:
test2()

{}

In [48]:
test2(1)

TypeError: ignored

In [49]:
test2(x = 1)

{'x': 1}

In [51]:
test2(x = 1, u =2, s = 'hello')

{'x': 1, 'u': 2, 's': 'hello'}

In [52]:
def make_emp_info(emp_no, emp_name, **kwargs):
  emp = {'emp_no': emp_no, 'emp_name': emp_name}
  for k, v in kwargs.items(): # dict에서 key, value 리턴
    emp[k] = v

  return emp

In [53]:
make_emp_info(1, 'king') # emp_no, emp_name, 비어있는 dict

{'emp_no': 1, 'emp_name': 'king'}

In [54]:
make_emp_info(2, '홍길동', email = 'fildong@test', dept ='HR') # **kwargs <=  email = 'fildong@test', dept ='HR'

{'emp_no': 2, 'emp_name': '홍길동', 'email': 'fildong@test', 'dept': 'HR'}

In [55]:
def print_msg(msg):
  print(f'message = {msg}')
  # return None -> return

In [56]:
print_msg('안녕하세요') #1

message = 안녕하세요

In [58]:
print(None) # 값이 없음

None

In [57]:
print(print_msg('안녕하세요')) #2: 리턴하지 않는 함수를 print()에 넣으면 None이 출력됨.

message = 안녕하세요
None