<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# function(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
  * return value가 있는 함수
  * return value가 없는 함수
* 파이썬 함수 정의 방법:

```
def function_name([param,...]):
  ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
  함수 기능 구현
  [return 값]
```

* return value가 없는 경우에,
  * return 문장을 생략
  * return None 명시할 수도 있음.

In [1]:
# 함수 정의
def subtract(x, y):
  """
  2개의 숫자 x, y를 전달받아서 x - y 결과를 리턴하는 함수.
  """
  return x - y

# 함수: subtract

In [2]:
# 함수 호출
result = subtract(1,2)
result

-1

In [4]:
def repeat_messge(message, n):
  """
  문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
  """
  for _ in range(n):
    print(message)

  return None
  # 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.

repeat_messge('집 가고 싶어', 5)

집 가고 싶어
집 가고 싶어
집 가고 싶어
집 가고 싶어
집 가고 싶어

# Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [6]:
import random

def make_list(start, end, n):
  """
   start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
  """
  list = [random.randrange(start, end) for _ in range(n)]

  return list

make_list(1, 5, 2)

[2, 3]

# Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [11]:
def calc_sum(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
  """

  return sum(list)

list = [1,2,4]
result = calc_sum(list)
result

7

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [13]:
def  calc_mean(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
  """

  average = sum(list) / len(list)
  return average

list = [1, 4, 6, 10]
result = calc_mean(list)
print(result)

5.25

# Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
분산 = (값 - 평균)**2 들의 평균

In [33]:
def calc_var(list):
  """
  숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수. 분산 = (값 - 평균)**2 들의 평균
  """
  average = sum(list) / len(list)
  print(average)


  con = [((x - average)**2) for x in list]
  print(con)
  total1 = sum(con)

  print(total1)
  variance = total1 / len(list)

  return variance

list = [1, 3, 4, 6]

result = calc_var(list)
print(result)

3.5
[6.25, 0.25, 0.25, 6.25]
13.0
3.25