<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py08_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 08. 함수 고급 기능 설명.
# 1급 객체(first-class object)로서의 함수
1급 객체: 값으로 동작하는 객체
* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있음.
  * 함수는 아규먼트가 될 수 있음.
* 함수는 다른 함수의 리턴 값이 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [1]:
def twice(x):
  return 2 * x

In [2]:
result = twice(100) # 함수 호출 결과(리턴 값)을 변수에 저장.
result

200

In [3]:
double = twice # 함수 (객체)를 변수에 저장.
double

In [4]:
double(12)

24

## 함수를 아규먼트로 사용

In [5]:
def calculate(x, y, fn):
  result = fn(x,y) # 함수 호출
  return result

In [6]:
def plus(x, y):
  return x + y

In [7]:
calculate(3,5,plus)

8

In [8]:
def minus(x, y):
  return x - y

In [9]:
calculate(2, 4, minus)

-2

## 내부 함수, 함수 리턴

* 내부 함수는 외부 함수의 지역변수를 이용할 수 있음.

In [10]:
def make_increment(n): # 외부 함수

  # 내부 함수, 지역 함수
  def add_n(x):
    return x + n # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.

  return add_n

In [12]:
increase_by_2 = make_increment(2) # 함수 호출
increase_by_2 # add_n(x)가 저장이 됨.

# <function __main__.make_increment.<locals>.add_n(x)>
# main: 실행 중인 노트북
# <locals>.add_n(x): 지역 함수

In [13]:
increase_by_2(100)

102

In [14]:
increase_by_10 = make_increment(10)
increase_by_10(100)

110

In [17]:
make_increment(5)

In [18]:
make_increment(5)(100) # 내부함수에 100을 넘김.

105

# Lambda expression(람다 표현식)

```
lambda param1, param2,....: expression
```
* 이름이 없는 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 법
* 파이썬은 2줄 이상의 문장이 표현된 람다 표현식 문법을 제공하지 않음.

* 다른 함수에 argument로 넘겨 줄 때, 간단한 함수일 경우 그 자리에서 정의 + 많이 사용함.

In [19]:
minus = lambda x, y: x-y
minus

In [20]:
minus(1,2)

-1

In [21]:
calculate(2, 3, lambda x, y: x * y)

6

In [22]:
calculate(2, 3, lambda x, y: x / y)

0.6666666666666666

Ex 1. calculate 함수에 2개의 숫자 중에서 더 큰 수를 리턴하는 람다 표현식을 전달.

In [23]:
calculate(3,6, lambda x , y: x if x > y else y) # 파이썬에서의 삼항 연산자.

6

EX 2. calculate 함수에 첫번째 아규먼트가 크면 True, 아니면 False를 리턴하는 람다 표현식을 전달. + 출력.

In [24]:
calculate(3, 5, lambda x, y: True if x > y else False)

False

In [25]:
calculate(3, 5, lambda x, y: x > y)

False

# Filter 함수
조건에 맞는 원소들만 선택.

In [38]:
def my_filter(iterable, fn):
  """
  리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만 이루어진 리스트를 리턴.

  Param interable: 리스트.
  Parma fn: argument가 1개이고, True/ False를 리턴하는 함수.
  """
  return [x for x in iterable if fn(x)]

  # list_result = [] # 필터링된 원소들을 저장할 빈 리스트
  # for x in iterable: # 리스트의 원소들을 순서대로 반복하면서,
  #   if fn(x): # 그 원소를 함수에게 전달했을 떄 True를 리턴하면
  #     # 필터링 조건을 만족하면
  #     list_result.append(x) # 결과 리스트에 필터링된 원소를 추가.

  # return list_result # 필터링된 결과를 가지고 있는 리스트

In [40]:
list1 = [1, 3, 4, -1, 0, -8]

def test(x):

    if x > 0:
      return True
    else:
      return False

print(my_filter(list1, lambda x: x > 0))
print(my_filter(list1, test))

[1, 3, 4]
[1, 3, 4]

In [39]:
my_filter(list1, lambda x: x % 2 == 0)

[4, 0, -8]

In [42]:
strings = ['python', 'java', 'javascript', 'sql']
# my_filter 함수를 사용해서 strings에서 5글자 이상인 문자열들만 필터링.
my_filter(strings, lambda x: len(x) >= 5 )

['python', 'javascript']

## map 함수

원소들을 어떤 규칙에 따라서 다른 값으로 변환.

In [44]:
def my_mapper(iterable, fn):
  """
  리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

  Param iterable: 리스트.
  Param fn; argument가 1개이고 리턴 값이 있는 함수.
  """
  result = []
  for x in iterable:
    result.append(fn(x))

  return result

  # return [fn(x) for x in iterable]

In [48]:
list2 = [1, 35, -3, 4, -6, -29]
list3 = ['안녕', '하세요', '집', 'java']

my_mapper(list2, lambda x: x > 0)

[True, True, False, True, False, False]

In [47]:
my_mapper(list3, lambda x: len(x) )

[2, 3, 1, 4]

In [49]:
# 리스트 list2의 원소들의 제곱으로 이루어진 리스트
my_mapper(list2, lambda x: x**2)

[1, 1225, 9, 16, 36, 841]

In [52]:
# 리스트 list2의 원소가 짝수이면 'even', 홀수이면 'odd'
my_mapper(list2, lambda x: 'even' if x % 2 == 0 else 'odd')

['odd', 'odd', 'odd', 'even', 'even', 'odd']

In [54]:
# strings가 가지고 잇는 문자열의 길이들로 이루어진 리스트
my_mapper(strings, lambda x: len(x))

[6, 4, 10, 3]

In [55]:
# strings의 문자열들을 모두 대문자로 변환한 리스트
my_mapper(strings, lambda x: x.upper())

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']