<a href="https://colab.research.google.com/github/SuJeKim/Python-colab/blob/main/py13_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석 패키지

Google Colab에는 데이터 분석과 머신 러닝에 필요한 대부분의 패키지들이 이미 설치가 되어 있음.

* NumPy: 다차원 배열(n-dimensional array)을 다루는 패키지. 머신 러닝에서 중요하게 사용됨.
* pandas: 시리즈(Series), 데이터프레임(DataFrame)을 다루는 패키지.
  * Series -> 넘파이의 1차원 구조를 이용해 만듦
  * DataFrame -> 넘파이의 2차원 구조를 이용해 만듦
  * 데이터 분석에서 기본으로 사용되는 패키지.
* matplotlib: 데이터 시각화(그래프).
* seaborn: 데이터 시각화. 통계 작업.

In [1]:
# as 변수: 라이브러리 별명
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
print('Numbpy version:', np.__version__) # 모든 모듈들은 __version__ 다음과 같은 버전 확인 메서드를 가지고 있음

Number version: 1.22.4

In [4]:
print('Pandas version:', pd.__version__)
print('Matplotlib version:', mpl.__version__)
print('Seaborn version:', sns.__version__)

Pandas version: 1.5.3
Matplotlib version: 3.7.1
Seaborn version: 0.12.2

# Python `list` class

* 여러 개의 값들을 저장할 수 있는 데이터 타입.
* 인덱스를 기반으로 값들을 저장, 참조하는 데이터 타입.
  * indexing: 인덱스를 사용해서 원하는 위치의 값을 참조, 변경
  * slicing: `[start, end)` 인덱스 범위의 값들로 이루어진 부분집합을 잘라내는 방법.
* `list + list`: 2개의 리스트를 이어붙이기(concatenate).
* `list * int`, `int * list`: 리스트의 원소들을 정수만큼 반복해서 복제(replicate)

In [5]:
list1 = [1, 2, 3, 4]
list2 = [10, 20 ,30, 40]

In [6]:
# indexing:
print(list1[0]) # list1의 첫번째 원소
print(list1[3], list1[-1]) # list1의 마지막 원소

1
4 4

In [7]:
# slicing
print(list1[:3]) # list1에서 앞에서 3개 원소 자르기
print(list1[-3:]) # list1에서 뒤에서 3개 원소 자르기

[1, 2, 3]
[2, 3, 4]

In [8]:
list1 + list2

[1, 2, 3, 4, 10, 20, 30, 40]

In [9]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
# list1, list2에서 같은 인덱스 위치의 원소들끼리 덧셈.
[x + y for x,y in zip(list1,list2)]

[11, 22, 33, 44]

In [11]:
# list1의 모든 원소에 3을 곱합.
[3 * x for x in list1]

[3, 6, 9, 12]

# NumPy
* 배열(ndarray)을 쉽고 빠르게 연산(+, -, *, /, //, %)을 수행하는 라이브러리
* NumPy 패키지의 함수 또는 메서드들을 대부분 반복문의 기능을 가지고 있음.
* np.ndarray 클래스: NumPy 패키지에서 기본 타입 클래스. n차원 배열.

(n-dimensional array).
  * `ndarray`는 같은 인덱스(위치)에 있는 원소들끼리 연산을 수행.

In [12]:
array1 = np.array([1, 2, 3]) # python의 list객체를 numpy의 ndarray 객체로 변환.

In [13]:
type(array1)

numpy.ndarray

In [14]:
#  ndarray는 출력 방식이 2가지임. -> class 설명 참고.
print(array1) # print() 함수는 __str__ 메서드의 리턴값을 출력

[1 2 3]

In [15]:
array1 # expression은 __repr__ 메서드의 리턴값을 출력.

array([1, 2, 3])

In [18]:
array2 = np.array([4, 5, 6])

In [19]:
# ndarray의 사칙연산 - 같은 인덱스의 원소들끼리(element-wise) 연산 수행
print(array1 + array2)
print(array1 - array2)
print(array1 * array2)
print(array1 / array2)

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

## `ndarray`클래스의 속성들

In [24]:
print(array1)
print('ndim:', array1.ndim) # 차원(dimesion). 배열의 축(axis)의 개수. 축: 인덱스를 매기는 방향
print('size:', array1.size) # 배열의 크기. 원소 개수
print('shape:', array1.shape) # 배열의 모양. 각 차원에서의 원소 개수. -> 원소 1개짜리 tuple
print('dtype:', array1.dtype) # 배열 원소의 데이터 타입.

[1 2 3]
ndim: 1
size: 3
shape: (3,)
dtype: int64

* `ndarray`는 한 가지 타입의 데이터들만 저장할 수 있는 데이터 타입 - `list`와 다른 점.
* numpy
정수 타입: int8, int16, int32
실수 타입: float16, float32

## 2차원 배열

In [25]:
array_2d = np.array([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
])

In [26]:
type(array_2d)

numpy.ndarray

In [27]:
print(array_2d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [28]:
array_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

![image.png]()

In [29]:
print('ndim:', array_2d.ndim) # 차원
print('size:', array_2d.size) # 크기 *전체 원소의 개수 <-> len(): 그 리스트가 가지고 있는 리스트의 개수,
print('shape:', array_2d.shape) # 모양 -> 첫번째 메겨지는 방향이 행 방향.
print('dtype:', array_2d.dtype) # 데이터 타입

ndim: 2
size: 12
shape: (3, 4)
dtype: int64

### 2차원 `ndarray`의 인덱스 사용 방법:

* `array[i][j]` - Python list와 같은 사용 방법.
* `array[i,j]` - ndarray에서만 사용 가능.

In [31]:
array_2d[0,0] # array_2d[0][0]

1

In [32]:
array_2d[1,2]

7

## `ndarray`인덱스

In [36]:
# np.random에서 random은 모듈임.
# [0, 100) 범위의 정수 난수 10개를 갖는 ndarray 객체를 생성:
# 사용하는 방법은 randrange와 비슷함.-> size만 다름.
# 시작값 생략 가능함(없을 경우 시작값은 0)
array = np.random.randint(0, 100, size=10)
print(array)

[74  6 93 55 24 99 70 54  7 78]

In [37]:
# indexing:
print(array[0]) # 첫 번째 원소
print(array[-1]) # 마지막 원소

74
78

In [38]:
# slicing:
print(array[0:3]) # 첫 3개 원소 자르기
print(array[-3:]) # 마지막 3개 원소 자르기

[74  6 93]
[54  7 78]

In [39]:
print(array[0]) # indexing -> 아이템(값)
print(array[:1]) # slicing -> 배열(ndarray)

74
[74]

### fancy indexing

* 배열과 비슷한 객체(ndarray, list, tuple, set,....)를 사용해서 원하는 원소들을 참조하는 방법.
* fancy indexing의 결과는 ndarray.

In [42]:
print(array)

# indexing
print(array[0])

# fancy indexing
## - 인덱스 0, 2, 4 원소들 찾기 => array에서 index 0, 2, 4를 골라라.
print(array[[0, 2, 4]]) # 안쪽에 []는 원소 3개를 갖는 list, 바깥쪽에 [] indexing할 때 사용하는 index 연산자.

## 주의
print(array[[0]]) # fancy indexing -> 결과는 배열!

[74  6 93 55 24 99 70 54  7 78]
74
[74 93 24]
[74]

### Boolean indexing

* 논리값(True/False)들의 배열(리스트, tuple, set,...)을 사용한 fancy indexing 방법.
* 배열에서 조건을 만족하는 원소들로 이루어진 부분집합(ndarray)를 만드는 방법.
* 배열의 원소 개수와 동일하게 True/False 넘기기.

In [44]:
print(array)
print(array[[True,False,True,False,True,False,True,False,True,False]])

[74  6 93 55 24 99 70 54  7 78]
[74 93 24 70  7]

In [47]:
# 배열 array의 원소들 중 홀수들만 찾기:
print(array % 2)
print(array % 2 == 1)
print(array[array % 2 == 1]) # Boolean indexing

[0 0 1 1 0 1 0 0 1 0]
[False False  True  True False  True False False  True False]
[93 55 99  7]

In [48]:
# 배열 array의 원소들 중에서 50 이상인 숫자들의 배열을 찾기:
print(array[array >= 50])

[74 93 55 99 70 54 78]

## NumPy의 통계 함수, 메서드
똑같은 기능을 하는 것들이 대부분 함수, 메서드 2가지 형태로 만들어져 있음.

* np.function(ndarray) 함수
* np.ndarray.method() 메서드

In [50]:
array = np.array([1,2,3,4,5])
print(array)

[1 2 3 4 5]

In [52]:
# 합계:
print(np.sum(array)) # 함수
print(array.sum()) # 메서드 -> 배열(객체)에서 메서드를 호출을 하면 arg로 넘겨줄 필요가 없음. 메서드는 선언시 sum(self)가 기본값임.

15
15

In [53]:
# 평균
print(np.mean(array)) # 함수
print(array.mean()) # 메서드

3.0
3.0